<% @posts.each do | post | %>
<div class="genie-box text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 seethroughbox">
	<h1>
	<%= post.title %><br>
	<%= post.description %>
	<%= image_tag(post.image, :alt => "home image", :width => 200, :height => 200)%>
</div>
<% end %>

